body {
background-color: #ffffff;
justify-content: center;
font-family: Daimler CA;
padding: 10px;
overflow-x: hidden;
}
.result_heading h2{
color: #2E358E;
}
.tableFixHead {
width: 100%;
table-layout: fixed;
border-collapse: collapse;
}
.tableFixHead tbody {
display: inline-block;
width: 100%;
overflow: auto;
height: 300px;
}
.tableFixHead thead tr {
display: inline-block;
}
.tableFixHead th,
.tableFixHead td {
word-break: break-all;
width: 300px;
text-align: left;
}
.tableFixHead tbody td {
text-align: justify;
}
.dataframe th {
background: #2E358E;
color: white;
}
* {
box-sizing: border-box;
}
.row{
display: inline-block;
padding: 5px 10px 15px 10px;
}
.filter_status,
.heading
{
float: left;
display: inline-block;
}
.heading  h2{
float: left;
font-size: 25px;
margin: 15px 10px 10px 180px;
}
.filter_status h2{
float: left;
font-size: 15px;
margin: 20px 10px 10px 20px;
}

.filter_status select{
float: left;
height: 30px;
margin: 15px 0px 0px 0px;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}